* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.heading_primary {
    color: white;
    font-size: 18rem;
    opacity: 0.4;
}

#hero {
    height: 100vh;
    background-color: #26bf00;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    text-align: center;
    position: relative;

}

.hero_heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

}

.card {
    border-radius: 1rem !important;
    position: absolute;
    top: 50%;
    width: 80%;
    padding: 1rem;
    opacity: .9;
}

.card_heading {
    padding: 1rem;
    font-size: 1.5rem;
}

.card-image {
    width: 100%;
}