body {
    font-family: "Lato", sans-serif;
    line-height: 1.7;
}

.heading_primary {
    color: #fffaff;
    font-size: 6rem; 
    white-space: nowrap;

}

.heading_secondary {
    color: #fffaff;
    font-size: 4rem;
}

.heading_tertiary {
    color: #fffaff;
    font-size: 1.5rem;
    display: inline;
}

.heading_huge {
    font-size: 15rem;
    opacity: .3;
    color: #fffaff;
}
