#hero {
    
    text-align: center;
    position: relative;
    z-index: 1.9;
    height: 95vh;

}

#about {
    position: relative;
    padding: 1rem 3rem;
    z-index: 1.8;
    text-align: center;

}